body {
  background: var(--color-main-bg);
}

/* header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
} */

main .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: 1s ease;
}

/* MENU TOGGLE ======================================================================*/

/* header .header-container .menu-toggle-container {
  position: relative;
  width: 70px;
  height: 70px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
} */

.menu-toggle-container span {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--color-font-1);
  border-radius: 50px;
  transition: 0.5s;
}

.menu-toggle-container span:nth-child(1) {
  transform: translateY(-15px);
}

.menu-toggle-container.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.menu-toggle-container span:nth-child(2) {
  transform: translateY(15px);
}

.menu-toggle-container.active span:nth-child(2),
.menu-toggle-container.active span:nth-child(3) {
  transform: translateY(0px) rotate(135deg);
}

/* MENU ======================================================================*/

main .menu-container {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -40%;
  background-color: var(--color-sub-bg);
  width: 40vw;
  height: 87.6vh;
  z-index: 100;
  transition: 1s ease;
}

main .menu-container.active {
  opacity: 1;
  right: 0;
}

main .main-container.active {
  left: -20%;
}

main .menu-container button {
  width: 100%;
  height: 3.3rem;
  font-size: 1.4em;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-font-1);
}

main .menu-container .btn-logout {
  position: absolute;
  bottom: 0;
}

main .menu-container button:hover {
  background-color: var(--color-main-bg);
}

main .menu-overlay {
  opacity: 0;
  position: fixed;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 99;

  transition: 0.5s ease;
}

main .menu-overlay.active {
  opacity: 1;
  right: 0;
}

/* MENU END ======================================================================*/

main .main-container button:not(.btn-back) {
  width: 15rem;
  height: 3.3rem;
  margin: 10px;
  font-size: 1.4em;
  padding: 10px;
  border: 1px solid var(--color-border-1);
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-font-1);
  transition: 0.3s linear;
}

main .main-container button:hover:not(.btn-back) {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
  border: none;
  width: 16rem;
  height: 4rem;
  font-size: 1.7em;
  font-weight: 600;
}

/* main .main-container button: {
  width: 15rem;
  height: 3rem;
} */

.btn-back {
  background-image: url(./../media/images/icons8-person-64.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  main .main-container.active {
    left: -70%;
  }

  main .menu-container {
    width: 40vw;
  }

  main .menu-container .btn-logout {
    bottom: 10px;
  }
}
