* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

header img {
  width: 100px;
}

header h1 {
  color: var(--color-font-3);
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-container a {
  color: var(--color-font-3);
  margin: 0 10px;
}

.nav-container a:hover {
  color: rgb(18, 0, 175);
}
/* SLIDER ============================================================================================================================================ */
.slider-container {
  /* background-color: aqua; */
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 650px;
}

.slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-container .slide {
  min-width: 100%;
  transition: 0.5s;
}

.slider-container .slide img {
  height: auto;
  width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.slider-container .nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-container .nav button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.slider-container .nav button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* SLIDER END ============================================================================================================================================ */

.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px 300px; */
  margin: 20px 0 30px 0;
}

.explore-container h1 {
  font-size: 3rem;
  text-align: center;
  /* width: 70vw; */
}

.explore-container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-sub-bg-1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  width: 180px;
  cursor: pointer;
}

.explore-container button:hover {
  background-color: var(--color-btn-hover-1);
}

.explore-container button img {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.services-container {
  display: grid;
  place-items: center;
  margin-bottom: 60px;
}

.services-container .services-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services-container .services-icon-container span {
  /* padding: 5px; */
  /* background-image: linear-gradient(
    var(--color-sub-bg-4),
    var(--color-sub-bg-7)
  ); */
  background: transparent;
  border-radius: 50%;
}

.services-container .services-icon-container span img {
  height: 120px;
  width: 120px;
}

.services-container .services-icon-container span h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-font-3);
  padding: 0;
  margin: 0;
}

/* CLINIC =========================================================================================================================================== */
.clinic-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
  margin: 20px 0 50px 0;
}

.clinic-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.clinic-slide {
  flex: 0 0 calc(33.33% - 10px);
  margin-right: 5px;
}

.clinic-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  margin-right: 5px;
}

.clinic-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.clinic-nav button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.clinic-nav button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* CLINIC END ======================================================================================================================================== */

/* ANNOUNCEMENTS ======================================================================================================================================== */

.announcement-container {
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.announcement-container .content-container {
  width: 85%;
  background-color: #caa478;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 8px;
}

.announcement-container .content-container h1 {
  text-align: center;
}

.announcement-container .announcement-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: start;
}

.announcement-container .announcement-content .content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 16px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.announcement-container .announcement-content .content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.announcement-container .announcement-content .content .date {
  opacity: 0.8;
  font-size: 13px;
  padding: 0;
  margin: 0 0 6px 0;
}

/* ANNOUNCEMENTS END ======================================================================================================================================== */

/* ============================================================================================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #4caf50;
}

.modal-body {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.about-section {
  margin-bottom: 20px;
}

.about-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.about-section p {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.developers {
  text-align: center;
}

.developers-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.developer p {
  font-size: 14px;
  margin: 0;
}

.modal-footer {
  text-align: center;
  margin-top: 20px;
}

.close-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #45a049;
}

/* ============================================================================================================== */

@media screen and (max-width: 767px) {
  header {
    padding: 0 10px;
  }

  header img {
    width: 90px;
  }

  header h1 {
    font-size: 1.3rem;
  }

  .explore-container h1 {
    font-size: 2rem;
    width: 95vw;
  }

  .services-container .services-icon-container span img {
    height: 80px;
    width: 80px;
  }

  .clinic-slide {
    flex: 0 0 calc(50% - 10px);
    margin-right: 5px;
  }

  .announcement-container .content-container h1 {
    font-size: 1.3rem;
  }
}
