.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100px;
}

.login-cta-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.login-cta-container .cta-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login-cta-container .cta-action button {
  width: 8rem;
  height: 3rem;
  margin: 10px;
  font-size: 1.3em;
  padding: 10px;
  border: 1px solid var(--color-border-1);
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-font-1);
  transition: 0.3s linear;
}

.login-cta-container .cta-action button:hover {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
  border: none;
  width: 8.5rem;
  height: 3.5rem;
  font-size: 1.5em;
  font-weight: 600;
}

/* ======================================================================================================================= */

.download-cta-container {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 20px;
  padding: 0 20%;
}

.download-cta-container a {
  width: 11rem;
  /* height: 3rem; */
  margin: 10px;
  font-size: 1.3em;
  padding: 10px;
  border: 1px solid var(--color-border-1);
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-font-1);
  transition: 0.3s linear;
}

.download-cta-container a:hover {
  background-color: var(--color-btn-main);
  color: var(--color-font-2);
  border: none;
  width: 12.5rem;
  /* height: 3.5rem; */
  font-size: 1.5em;
  font-weight: 600;
}

/* ======================================================================================================================= */
.disease-card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.disease-card {
  /* perspective: 1000px; */
  width: 90%;
  /* max-width: 250px; */
  height: 400px;
  position: relative;
  margin-bottom: 50px;
  color: #fff;
}

.disease-card .front,
.disease-card .back {
  width: 100%;
  height: 100%;
  padding: 20px;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.6s; */
}

.disease-card .front {
  background-color: #ffaeae;
  position: relative;
}

.disease-card .back {
  background-color: var(--color-sub-bg-1);
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.disease-card:hover .front {
  transform: rotateY(180deg);
}

.disease-card:hover .back {
  transform: rotateY(360deg);
}

.disease-card .img-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-sub-bg-1);
  width: 100px;
  height: 100px;
  z-index: 6;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px;
}

.disease-card img {
  /* width: 50%;
  height: auto; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  z-index: 5;
}

.disease-card .img-name-container h1 {
  font-size: 1em;
  text-align: left;
  width: 100%;
  z-index: 6;
  /* color: #fff; */
  padding: 0;
  margin: 0;
}

.disease-card .img-name-container h1::first-letter {
  text-transform: capitalize;
}

.disease-card .description-container,
.disease-card .symptoms-container {
  margin-top: 20px;

  height: 80%;
  overflow: hidden;
}

.disease-card .description-container h1 {
  padding: 0;
  margin: 0;
}

.disease-card .description-container p {
  text-indent: 1em;
  text-align: justify;
  color: #fff;
  line-height: 1.4;
  white-space: pre-wrap;
}

.disease-card .description-container p::first-letter {
  text-transform: capitalize;
}

.disease-card .symptoms-container ul {
  list-style-type: disc;
  padding-left: 20px;
  /* color: #fff; */
}

.disease-card .see-more {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.disease-card .see-more:hover {
  background-color: var(--color-btn-hover-1);
}

/* ===================================================================================================================================================== */

.container-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 19;
}

.description-symptoms-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 20;
}

.description-symptoms-container .description-card,
.description-symptoms-container .title-card,
.description-symptoms-container .symptoms-card {
  background-color: var(--color-sub-bg-1);
  width: 40vw;
  color: #fff;
  overflow: auto;
  padding: 10px 20px;
  border-radius: 20px;
  word-break: normal;
}

.description-symptoms-container .description-card {
  min-height: 50vh;
  max-height: 90vh;
}

.description-symptoms-container .title-card {
  min-height: 10vh;
  max-height: 15vh;
  margin-bottom: 5vh;
}

.description-symptoms-container .title-card h1 {
  font-size: 1.5rem;
}

.description-symptoms-container .symptoms-card {
  min-height: 40vh;
  max-height: 65vh;
}

.description-symptoms-container .description-card h1,
.description-symptoms-container .symptoms-card h1 {
  font-size: 2rem;
}

.description-symptoms-container .description-card p,
.description-symptoms-container .symptoms-card li {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.4;
}

.description-symptoms-container .description-card p {
  text-indent: 2rem;
  text-align: justify;
}

.description-symptoms-container .description-card p::first-letter,
.description-symptoms-container .symptoms-card li::first-letter {
  text-transform: capitalize;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  z-index: 21;
  border: none;
  background: transparent;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
