body {
  box-sizing: border-box;
}

.btn-back {
  background-image: url(./../media/icons/icons8-back-90.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* REQUESTS ============================================================================================================ */
.container {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.requests-container .table-container {
  width: 80vw;
  padding: 20px;
  background-color: var(--color-sub-bg-6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  /* max-height: 85vh; */
}

.requests-container .requests-h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.requests-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.requests-container thead {
  background-color: var(--color-sub-bg);
  color: var(--color-font-1);
}

.requests-container thead th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-border-1);
}

.requests-container thead td {
  padding: 10px;
}

.requests-container .col-type {
  width: 30%;
}

.requests-container .col-filename {
  width: 50%;
}

.requests-container .col-actions {
  width: 20%;
}

.requests-container tbody tr {
  background-color: var(--color-sub-bg-5);
  transition: background-color 0.3s;
}

.requests-container tbody tr:nth-child(even) {
  background-color: var(--color-main-bg);
}

.requests-container tbody tr:hover {
  background-color: var(--color-sub-bg-4);
}

.requests-container tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 1.2rem;
}

.requests-container .btn-download {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.3s ease;
  font-size: 1.01rem;
}

.requests-container .btn-download {
  background-color: var(--color-btn-main-1);
  color: var(--color-font-1);
}

.requests-container .btn-download:hover {
  background-color: var(--color-btn-hover-2);
}
/* REQUESTS END ============================================================================================================ */

.menu-toggle-container {
  opacity: 0;
}
