.btn-back {
  background-image: url(./../media/images/icons8-person-64.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}
