main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-section {
  background-color: var(--color-sub-bg-5);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--color-sub-bg-3);
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inp-field {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--color-border-1);
  border-radius: 5px;
}

.inp-field:focus {
  outline: none;
  border-color: var(--color-sub-bg-3);
}

.btn-save {
  background-color: var(--color-btn-main-1);
  color: var(--color-font-2);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: var(--color-btn-hover-2);
}

.btn-back {
  background-image: url(./../media/icons/icons8-back-90.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
